body{
    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
*:hover {
    transition: 0.3s;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 44px;
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.search{
    display: flex;
    gap: 102px;
}
.input{
    height: 40px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 32px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}
.input::placeholder{
    color: #BFBFBF;
    font-family: SF Pro Display;
    font-weight: 400;
}
.header__search{
    width: 690px;
    background-image: url(../Images/Icons/home.svg);
}
.header__buttons{
    display: flex;
    gap: 10px;
}
.btn{
    /* Auto layout */
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    padding: 8px 16px;
    gap: 4px;
    width: 96px;
    height: 40px;
    border: none;
    /* font */
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.btn:hover{
    opacity: 0.7;
}
.btn-login{
    /* Daybreak Blue / blue-6 */
    background: #1890FF;
    color: #FFFFFF;
}
.btn-cart{
    width: 113px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    color: #595959;
    /* shadow */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
}
.button__text{
    padding-top: 2px;
    display: block;
}
/* PROMO */
.wrapper__promo{
    max-width: 1200px;
}
.swiper-container{
    max-width: 1200px;
    overflow: hidden;
}
.promo{    
    max-width: 1200px;
    min-height: 300px;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}
.promo__pizza{
    background-image: url(../Images/pizza.png);
    background-position: 100%;
}
.promo__kebab{
    background-image: url(../Images/kebab.png);
    background-position: 100%;
}
.promo__vegetables{
    background-image: url(../Images/promo.png);
}
.promo__sushi{
    background-image: url(../Images/sushi.png);
    background-position: 100%;
}
.promo-text{
    max-width: 580px;
}
.promo h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    margin-bottom: 15px;
}

.promo h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}

/* FOOD SECTION */
section.food{
    margin-top: 56px;
    margin-bottom: 90px;
}
.food__title{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
.food__title h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.food__search {
    width: 306px;
    height: 34px;
    background-image: url(../Images/Icons/search-icon.svg);
}
/* food__cards */
.food__cards{
    display: grid;
    grid-template-columns: 384px 384px 384px;
    grid-gap: 24px;
}
.food__card{
    height: 377px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}
.food__card:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
    opacity: 0.7;
}
.card__info{
    margin: 20px auto;
    max-width: 335px;
}
.info__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.info__title h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.info__title span{
    font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1px 8px;
        gap: 10px;
        width: 55px;
        height: 22px;
        background: #262626;
        border-radius: 2px;
}
.info__additional{
    display: flex;
    align-items: center;
}
.additional__rating{
    background-image: url(../Images/Icons/star-icon.svg);
    background-position: 0% 39%;
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-right: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}
.additional__price{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.additional__food{
    list-style-position: inside;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.additional__food li{
    margin-left: 10px;
}
.additional__food li span{
    margin-left: -6px;
}
/* FOOTER */
footer{
    background: #FFFFFF;
    min-height: 156px;
    align-items: center;
}
.footer__wrapper{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 156px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__left{
    display: flex;
    gap: 35px;
    align-items: center;
}
.footer__wrapper ul{
    list-style-type: none;
}
.footer__wrapper ul li{
    float: left;
    margin-right: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
}
.footer__wrapper ul li:last-child{
    margin-right: 0px;
}
.footer__wrapper ul li:hover{
    transition: 0.3s;
    opacity: 0.7;
}
.footer__social{
    display: flex;
    align-items: center;
}
/* MODAL AUTH */
.modal-auth {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hide{
    display: none;
}

.close-auth {
    font-size: 50px;
    border: none;
    color: #000000;
    background-color: transparent;
}
.user-name {
    display: none;
}
#out-button{
    display: none;
}
.modal__footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.modal-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 20px;
}
.label-auth input{
    margin-left: 20px;
}
.modal-btn-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 149px;
    height: 40px;
    background: #1890FF;
    border-radius: 2px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
/* MODAL STYLES */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.is-open{
    display: flex;
}
.modal__dialog{
    max-width: 780px;
    width: 95%;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
}
.dialog__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.dialog__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.dialog__btn-close{
    font-size: 50px;
    border: none;
    color: #000000;
    background-color: transparent;
}
.dialog__food{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;
}
.dialog__body{
    margin-bottom: 52px;
}
.food__price{
    margin-left: auto;
    margin-right: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}
.food__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.counter__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    color: #40A9FF;
    border-radius: 2px;
}
.dialog__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.food__counter{
    display: flex;
    align-items: center;
    gap: 13px;
}
.footer__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 149px;
    height: 40px;
    background: #1890FF;
    border-radius: 2px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.btn-cancel{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    color: #595959;
    width: 88px;
    height: 40px;
}
.footer__buttons{
    display: flex;
    gap: 18.5px;
}
.footer__price{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 53px;
    background: #262626;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FAFAFA;
}

/* RESTAURANT */
/* food__cards */
.cards__menu {
    display: grid;
    grid-template-columns: 384px 384px 384px;
    grid-gap: 24px;
    margin-top: 56px;
    margin-bottom: 50px;
}

.food__card {
    height: 414px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.menu-card__info {
    height: 158px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 337px;
}
.card-info__title{
    display: flex;
    flex-direction: column;
}
.menu-info__title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 10px;
}

.menu-info__title h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
}
.title__info {
    display: flex;
}

.title__info .additional__price{
    color: #8C8C8C;
    margin-left: 0px;
    font-weight: 400;
    font-size: 18px;
}

.additional__rating {
    background-image: url(../Images/Icons/star-icon.svg);
    background-position: 0% 39%;
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-right: 26px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}

.card-additional__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-left: 32px;
}

.additional__food {
    list-style-position: inside;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.additional__food li {
    margin-left: 10px;
}

.additional__food li span {
    margin-left: -6px;
}

.btn-incart {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    width: 124px;
    height: 40px;
    background: #1890FF;
    border-radius: 2px;
    border: none;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

}

.btn-incart:hover {
    transition: 0.3s;
    opacity: 0.7;
}

/* MEDIA QUERIES */
@media (max-width: 1250px) {
    header, .wrapper{
        max-width: 1000px;
    }
    .search{
        display: flex;
        gap: 30px;
    }       
    .header__search{
        width: 600px;
    }
    .food{
        max-width: 1000px;
        margin: 0 auto;
    }
    .food__cards{
        display: grid;
        grid-template-columns: 317px 317px 317px;
    }
    .food__card{
        height: 100%;
    }
    .card__info {
        max-width: 270px;
    }
    .footer__wrapper {
        max-width: 1000px;
    }
    .additional__food{
        list-style-position: inside;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: #8C8C8C;
    }
    .additional__food li{
        margin-left: 5px;
    }
    .additional__food li span{
        margin-left: -6px;
    }
}
@media (max-width: 1050px) {
    header,
    .wrapper {
        max-width: 800px;
    }
    .header__search{
        width: 300px;
    }
    .food {
        max-width: 800px;
        margin: 0 auto;
    }
    .food__cards {
        display: grid;
        grid-template-columns: 384px 384px;
        grid-gap: 30px;
    }
    .card__info {
        max-width: 335px;
    }
    .footer__wrapper {
        max-width: 800px;
    }
}
@media (max-width: 850px) {
    header,
    .wrapper {
        max-width: 600px;
    }
    .header__search {
        width: 200px;
    }
    .food__search{
        width: 300px;
    }
    .food {
        max-width: 600px;
        margin: 0 auto;
    }
    .food__cards {
        display: grid;
        justify-content: center;
        grid-template-columns: 384px;
    }
    .card__info {
        max-width: 335px;
    }
    .footer__wrapper {
        max-width: 600px;
    }
    .footer__logo{
        display: none;
    }
}
@media (max-width: 650px) {
    header,
    .wrapper,
    .footer__wrapper {
        max-width: 385px;
    }
    .header__search {
        width: 100px;
    }
    .btn-login, .btn-cart {
        padding: 0px;
        width: 40px;
    }
    .food__title{
        flex-direction: column;
        gap: 20px;
    }
    .button__text {
        display: none;
    }
    .button__thumb{
        margin: 0 auto;
    }
    .wrapper__promo h1{
        font-size: 32px;
    }
    .wrapper__promo h2{
        font-size: 18px;
    }
    .promo__text{
        padding-left: 20px;
    }
    .footer__text, .footer__social{
        display: flex;
        flex-direction: column;
    }
    .footer__text li, .footer__social li{
        margin-bottom: 10px;
    }
    .footer__left {
        margin-top: 10px;
        gap: 0px;
        align-items: center;
    }
    .footer__wrapper ul li{
        margin-right: 0px;
    }
}
@media (max-width: 450px) {
    header{
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-top: 44px;
        padding-bottom: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .header__buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .button__text{
        display: block;
    }
    
    .btn-login{
        padding: 8px 16px;
        gap: 4px;
        width: 96px;
    }
    .btn-cart{
        padding: 8px 16px;
        gap: 4px;
        width: 113px;
    }
    header,
    .wrapper,
    .footer__wrapper {
        max-width: 300px;
    }
    .search{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .header__search{
        width: 113px;
        background-position: 16px center;
        padding-left: 37px;
    }
    .food__title{
        flex-direction: colfamn;
        gap: 20px;
    }
    .food__search {
        width: 300px;
    }
    .input::placeholder {
        opacity: 1;
    }
    .food__cards {
        grid-template-columns: 300px;
    }
    .card__info {
        max-width: 240px;
    }
}